body, html {
  height: 100%;
  margin: 0;
  background-color: #121212;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #3592bd;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-content {
  flex-grow: 1;
  text-align: center;
}

.logo-img {
  height: auto;
  width: auto;
  max-height: 50px;
}

.login-form {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  background-color: #121212;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.login-form h3 {
  text-align: center;
  margin-bottom: 15px;
}

.login-form .box {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
  color: #333;
}

.login-form .btn {
  width: 100%;
  padding: 10px;
  background-color: #3592bd;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-form p {
  text-align: center;
  margin-top: 10px;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  gap: 10px;
}

.message {
  display: flex;
  align-items: flex-start;
  max-width: 70%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.message.user {
  align-self: flex-end;
  text-align: right;
  flex-direction: row-reverse;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 70%;
}

.message.model {
  align-self: flex-start;
  text-align: left;
  flex-direction: row;
}

.message .msg-header {
  font-weight: bold;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 15px;
  margin-right: 5px;
  background-color: #406340;
  color: #ffffff;
  flex-shrink: 0;
  white-space: nowrap;
}

.message.model .msg-header {
  background-color: #162a58;
}

.message .msg-body {
  font-size: 16px;
  padding: 10px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #1e1e1e;
  flex: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.5;
}

.message.model .msg-body {
  background: none;
  color: #ffffff;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #2a2a2a;
  border-top: 1px solid #444;
  margin: 0 400px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  gap: 5px;
}

.footer input {
  flex: 1;
  background-color: #1e1e1e;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  margin-right: 10px;
}

.footer button {
  background-color: #3592bd;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.footer button:hover {
  background-color: #4f5b66;
}
